video {
    position: absolute;
    left: -80px;
    bottom: 0; 
    width: 700px;
}

@media (max-width: 450px) {
    video {
        position: relative;
        width: 600px;
        margin-bottom: -4px;
    }
}