.elementToFadeInAndOut {
    opacity: 1;
    animation: fade 2s linear;
}

@keyframes fade {
  0%, 30% { opacity: 0 }

}

.cssAnimation {
	overflow: hidden;
	position: absolute;
	top: 59vh;
	left: 23vw;
	padding-left: 350px;
}

.cssAnimation .wrapper {
	position: relative;
	width: 500px;
	height: 300px;
	padding-top: 28%;
	padding-left: 100px;
	overflow: hidden;
}

.cssAnimation .wrapper div {
	position: absolute;
	height: 34%;
	width: 3%;
	top: 30%;
	border-radius: 8px;
}

.cssAnimation .wrapper div:nth-of-type(1) {
	animation: prop 17s 0.000s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(2) {
	animation: prop 17s -16.227s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(3) {
	animation: prop 17s -15.455s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(4) {
	animation: prop 17s -14.682s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(5) {
	animation: prop 17s -13.909s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(6) {
	animation: prop 17s -13.136s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(7) {
	animation: prop 17s -12.364s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(8) {
	animation: prop 17s -11.591s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(9) {
	animation: prop 17s 10.818s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(10) {
	animation: prop 17s -10.045s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(11) {
	animation: prop 17s -9.273s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(12) {
	animation: prop 17s -8.500s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(13) {
	animation: prop 17s -7.727s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(14) {
	animation: prop 17s -6.955s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(15) {
	animation: prop 17s -6.182s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(16) {
	animation: prop 17s -5.409s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(17) {
	animation: prop 17s -4.636s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(18) {
	animation: prop 17s -3.864s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(19) {
	animation: prop 17s -3.091s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(20) {
	animation: prop 17s -2.318s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(21) {
	animation: prop 17s -1.545s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(22) {
	animation: prop 17s -0.773s linear infinite;
}


@keyframes prop {
	0% {
		background: red;
		height: 34%;
		margin-top: -17%;
		left: 0%;
	}

	5% {
		background: #9337fe;
	}

	10% {
		height: 10%;
		margin-top: -5%;
		background: #c532fc;
	}

	15% {
		background: #f689f8;
	}

	20% {
		height: 34%;
		margin-top: -17%;
		background: #3af9da;
	}

	25% {
		background: #ff2f8d;
	}

	30% {
		height: 10%;
		margin-top: -5%;
		background: #54e678;
	}

	35% {
		background: #dc5245;
	}

	40% {
		height: 34%;
		margin-top: -17%;
		background: #3af9da;
	}

	45% {
		background: #f8b435;
	}

	50% {
		height: 10%;
		margin-top: -5%;
		background: #54e678;
	}

	55% {
		background: #e0ff3b;
	}

	60% {
		height: 34%;
		margin-top: -17%;
		background: #3af9da;
	}

	65% {
		background: #46f443;
	}

	70% {
		height: 10%;
		margin-top: -5%;
		background: #54e678;
	}

	75% {
		background: #4df3a9;
	}

	80% {
		height: 34%;
		margin-top: -17%;
		background: #3af9da;
	}

	85% {
		background: #36ebf4;
	}

	90% {
		height: 10%;
		margin-top: -5%;
		background: #3db3f3;
	}

	95% {
		background: #3c82f1;
	}

	100% {
		left: 100%;
		height: 34%;
		margin-top: -17%;
		background: #5b38ee;
	}
} 

@media (max-width: 1250px) and (max-height: 800px) {
	.cssAnimation .wrapper {
		position: absolute;
		top: 61vh;
		left: 3vw;		
		width: 5vw;
		height: 30vh;
		padding-top: 0.1vh;
	}
}

@media (max-width: 450px) {
	.cssAnimation .wrapper {
		position: absolute;
		width: 20vw;
		height: 20vh;
		padding-top: 0.1vh;
	}

	.cssAnimation {
		position: absolute;
		padding-top: 0.1vh;
		top: 39%;
		left: -45%;
		overflow: hidden;
	}
}