.aboutPage {
    display: block;
    margin-top: 100px;
}

.aboutPage div, footer div {  
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    display: flex;
    background-color: white;
    padding: 20px;
    margin: 30px 50px 30px 50px;
    border-radius: 20px;
}

.aboutPage div:hover {
    box-shadow: 0px 0px 30px 0px white;
}

.aboutPage img {
    width: 150px;
    height: 150px;
    border-radius: 48%;
}

.appInfo p {
    margin-top: 45px;
    padding-left: 2%;
    padding-right: 2%;
}

.aboutPage .teamTypeHeader {
    justify-content: center;
    height: 60px;
    padding: 0px;
}

.aboutPage .team div {
    display: block;
    margin: 0;
    margin-top: 2vh;
}

.team img {
    padding: 5vh;
}

footer {
    padding-bottom: 20px;
}

footer div {
    justify-content: center;
    margin: 0 50px 0 50px !important;
}

@media (max-width: 670px) {
    .aboutPage {
        margin: 0 2% 0 1%;
        width: 98%;
    }

    .aboutPage div {
        position: relative;
        display: flex;
        margin: 30px 50px 0 50px;
    }

    .aboutPage div:first-child {
        margin-top: 100px;
    }

    .aboutPage .team div {
        margin-top: 180px;
    }

    .aboutPage div img {
        display: flex;
        position: absolute;
        top: 20%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    footer div {
        justify-content: center;
        margin: 30px 50px 0 50px !important;
    }
}

@media (max-width: 370px) {
    .aboutPage {
        margin: 0 8% 0 9%;
        width: 84%;
    }

    .aboutPage .team div {
        width: 80%;
    }

    .aboutPage .team div li {
        word-wrap: break-word;
    }

    .aboutPage div img {
        top: 15%;
    }
}