.aboutPage {
    display: block;
    margin-top: 100px;
}

.aboutPage div, footer div {  
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    display: flex;
    background-color: white;
    padding: 20px;
    margin: 30px 50px 30px 50px;
    border-radius: 20px;
}

.aboutPage div:hover {
    box-shadow: 0px 0px 30px 0px white;
}

.aboutPage img {
    width: 150px;
    height: 150px;
    border-radius: 48%;
}

.appInfo p {
    margin-top: 45px;
    padding-left: 2%;
    padding-right: 2%;
}

.aboutPage .teamTypeHeader {
    justify-content: center;
    height: 60px;
    padding: 0px;
}

.aboutPage .team div {
    display: block;
    margin: 0;
    margin-top: 2vh;
}

.team img {
    padding: 5vh;
}

footer {
    padding-bottom: 20px;
}

footer div {
    justify-content: center;
    margin: 0 50px 0 50px !important;
}