@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

nav {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 420px;
    height: 50px;
    background: #000000;
    border-radius: 8px;
    font-size: 0;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 1);
}

nav a {
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}

nav .animation {
    position: absolute;
    height: 103%;
    top: 0;
    z-index: 0;
    background: #AA14F0;
    border-radius: 8px;
    transform: all .5s ease 0s;
}

nav a:nth-child(1) {
    width: 100px;
}

nav .startHome, a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
}

nav a:nth-child(2) {
    width: 110px;
}

nav a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
}

nav a:nth-child(3) {
    width: 100px;
}

nav a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
}

nav a:nth-child(4) {
    width: 110px;
}

nav a:nth-child(4):hover~.animation {
    width: 110px;
    left: 310px;
}