@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,300');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body {
	overflow-x: hidden;
}

%pseudo {
	content: '';
	display: inline-block;
}

%absolute-center {
	position: absolute;
	top: 75%;
	left: 38%;
}

$frame-bg: linear-gradient(45deg, #7B1FA2 50%, #F06292 90%);

input { display: none; }

$circle-size: 130px;
$stroke-color: #F5F5F5;
svg {
	@extend %absolute-center;
	width: $circle-size;
	height: $circle-size;
	margin-top: $circle-size * -0.5;
	margin-left: $circle-size * -0.5;
	.circleSvg {
		stroke: $stroke-color;
		stroke-width: 3;
		fill: transparent;
	}
}

.visible {
	display: none;
}

.nonVisible {
	display: block;
	position: absolute;
	left: 200px;
	width: 500px;
	height: 300px;
	z-index: 100;
}


$mic-size: 85px;
$mic-color: linear-gradient(45deg, #E0E0E0 50%, white 50%);
.mic {
	width: $mic-size;
	height: $mic-size;
	@extend %absolute-center;
	margin-top: $mic-size * -0.5;
	margin-left: $mic-size * -0.5;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.3s ease;
	&__head {
		background: $mic-color;
		width: $mic-size * 0.3;
		width: 30px;
		height: $mic-size * 0.75;
		border-radius: 30px;
		&::after {
			@extend %pseudo;
			@extend %absolute-center;
			top: 10%;
			left: 50%;
			background: $frame-bg;
			width: 8px;
			height: 20px;
			border-radius: inherit;
			transform: translate(-50%);
		}
	}
	&__neck {
		background: $mic-color;
		width: $mic-size * 0.05;
		height: $mic-size * 0.2;
	}
	&__leg {
		background: $mic-color;
		width: $mic-size * 0.3;
		height: $mic-size * 0.05;
		border-radius: 50px;
	}
}

.recording {
	@extend %absolute-center;
	width: $mic-size;
	height: $mic-size;
	margin-top: $mic-size * -0.5;
	margin-left: $mic-size * -0.5;
	transform: scale(0.5);
	opacity: 0;
	transition: all 0.3s 0s ease;
}

.round {
	position: absolute;
	$round-size: $mic-size * 0.15;
	background: white;
	width: $round-size;
	height: $round-size;
	border-radius: 50%;
	margin-top: $round-size * -0.5;
	margin-right: $round-size * -0.5;
	margin-left: $round-size * -0.5;
	animation: recording 1s ease-in-out infinite;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
	&:first-child {
		left: 50%; 
		top: 50%;
	}
	&:nth-child(2) {
		left: 25%; 
		top: 50%;
	}
	&:nth-child(2) { animation-delay: 0.15s; }
	&:last-child {
		left: 75%;
		top: 50%;
		animation-delay: 0.3s;
	}
}

.toggleLabel {
	@extend %absolute-center;
	display: inline-block;
	width: $circle-size;
	height: $circle-size;
	margin-top: $circle-size * -0.5;
	margin-left: $circle-size * -0.5;
	cursor: pointer;
}

.wavesHolder {
	@extend %absolute-center;
}

.brain {
	@extend %absolute-center;
	margin: -60px 0 0 -50px;
	width: $circle-size;
	height: $circle-size;
}

#recordToggle:checked {
	~ svg {
		animation: spinning 3s ease-in-out infinite alternate;
		.circleSvg {
			stroke-dasharray: 300;
			stroke-dashoffset: 300;
			animation: dash 3s ease-in-out infinite alternate;
		}
	}
	
	~ .mic {
		transform: scale(1.128);
		animation: gone 0.5s 0.3s ease;
		animation-fill-mode: forwards;
	}
	
	~ .recording {
		opacity: 1;
		transform: scale(0.98);
		transition-delay: 0.3s;
	}
}

#randomText {
	@extend %absolute-center;
	display: flex;
	margin: 35px 0 0 26vw;
	transform: translate(-50% , -50%);
	-webkit-transform: translate(-50%, -50%);
}

@keyframes spinning {
	to { transform: rotatez(360deg); }
}

@keyframes gone {
	to {
		transform: scale(0.5);
		opacity: 0;
	}
}

@keyframes recording {
	0% { transform: translatey(0%); }
	30% { transform: translatey(-30%); }
	60% { transform: translatey(30%); }
	90% { transform: translatey(0%); }
}

@keyframes dash {
	from { stroke-dashoffset: 300; }
	to {
		stroke-dashoffset: 0;
	}
}

.pg {
	@extend %absolute-center;
	color: rgb(255, 255, 255);
	margin-top: 70px;
	margin-left: -45px;
}

.stoppedBar {
	position: absolute;
	top: 535px;
	left: 650px;
	height: 15px;
	width: 600px;
	background: linear-gradient(45deg, #3af9da 25%, #7B1FA2 50%, #F06292 90%);
	border-radius: 8px;
}

@media (max-width: 1250px) and (min-width: 450px) {
	%absolute-center {
		top: 60%;
		left: 45%;
	}

	.mic {
		width: $mic-size;
		height: $mic-size;
		@extend %absolute-center;
		margin-top: $mic-size * -0.5;
		margin-left: $mic-size * -0.5;
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: all 0.3s ease;
		&__head {
			background: $mic-color;
			width: $mic-size * 0.3;
			width: 30px;
			height: $mic-size * 0.75;
			border-radius: 30px;
			&::after {
				@extend %pseudo;
				@extend %absolute-center;
				top: 10%;
				left: 50%;
				background: $frame-bg;
				width: 8px;
				height: 20px;
				border-radius: inherit;
				transform: translate(-50%);
			}
		}
		&__neck {
			background: $mic-color;
			width: $mic-size * 0.05;
			height: $mic-size * 0.2;
		}
		&__leg {
			background: $mic-color;
			width: $mic-size * 0.3;
			height: $mic-size * 0.05;
			border-radius: 50px;
		}
	}

	.brain {
		@extend %absolute-center;
	}
}

@media (max-width: 920px) {
	%pseudo1 {
		content: '';
		display: inline-block;
	}

	%absolute-left {
		top: 40%;
		left: 18%;
	}

	$circle-size: 100px;
	$mic-size: 70px;

	.mic {
		width: $mic-size;
		height: $mic-size;
		@extend %absolute-left;
		margin-top: $mic-size * -0.5;
		margin-left: $mic-size * -0.5;
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: all 0.3s ease;
		&__head {
			background: $mic-color;
			width: $mic-size * 0.3;
			width: 30px;
			height: $mic-size * 0.75;
			border-radius: 30px;
			&::after {
				@extend %pseudo1;
				@extend %absolute-left;
				top: 10%;
				left: 50%;
				background: $frame-bg;
				width: 8px;
				height: 20px;
				border-radius: inherit;
				transform: translate(-50%);
			}
		}
		&__neck {
			background: $mic-color;
			width: $mic-size * 0.05;
			height: $mic-size * 0.2;
		}
		&__leg {
			background: $mic-color;
			width: $mic-size * 0.3;
			height: $mic-size * 0.05;
			border-radius: 50px;
		}
	}

	.recording {
		@extend %absolute-left;
		width: $mic-size;
		height: $mic-size;
		margin-top: $mic-size * -0.5;
		margin-left: $mic-size * -0.5;
		transform: scale(0.5);
		opacity: 0;
		transition: all 0.3s 0s ease;
	}

	svg {
		@extend %absolute-left;
		width: $circle-size;
		height: $circle-size;
		margin-top: $circle-size * -0.5;
		margin-left: $circle-size * -0.5;
		.circleSvg {
			stroke: $stroke-color;
			stroke-width: 3;
			fill: transparent;
		}
	}

	.toggleLabel {
		@extend %absolute-left;
		display: inline-block;
		width: $circle-size;
		height: $circle-size;
		margin-top: $circle-size * -0.5;
		margin-left: $circle-size * -0.5;
		cursor: pointer;
	}

	.pg {
		@extend %absolute-left;
		margin-top: 55px;
	}

	.videoFrame {
		position: absolute;
		left: -5vw;
		bottom: 0; 
		width: 100%;
		overflow: hidden;
	}

	#randomText {
		@extend %absolute-left;
		margin: 35px 0 0 36vw;
	}

	.brain {
		@extend %absolute-left;
	}

	.wavesHolder {
		@extend %absolute-left;
	}
}

@media (max-width: 360px) {
	.videoFrame {
		width: 70%;
		overflow: hidden;
	}
}

@media (max-width: 330px) {
	.videoFrame {
		width: 70%;
		bottom: -15vw;
		overflow: hidden;
	}
}

@media (max-width: 510px) {
	#randomText {
		left: 25%;
		margin: 35px 0 0 36vw;
	}
}

@media (max-width: 360px) {
	#randomText {
		left: 52%;
		width: 80%;
		font-size: 10px;
		margin: 35px 0 0 36vw;
	}
}