@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,300');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body {
	overflow: hidden;
}

%pseudo {
	content: '';
	display: inline-block;
}

%absolute-center {
	position: absolute;
	top: 75%;
	left: 35%;
}

$frame-bg: linear-gradient(45deg, #7B1FA2 50%, #F06292 90%);

input { display: none; }

$circle-size: 130px;
$stroke-color: #F5F5F5;
svg {
	@extend %absolute-center;
	width: $circle-size;
	height: $circle-size;
	margin-top: $circle-size * -0.5;
	margin-left: $circle-size * -0.5;
	.circleSvg {
		stroke: $stroke-color;
		stroke-width: 3;
		fill: transparent;
	}
}

.visible {
	display: none;
}

.nonVisible {
	display: block;
	width: 500px;
	height: 300px;
}

$mic-size: 85px;
$mic-color: linear-gradient(45deg, #E0E0E0 50%, white 50%);
.mic {
	width: $mic-size;
	height: $mic-size;
	@extend %absolute-center;
	margin-top: $mic-size * -0.5;
	margin-left: $mic-size * -0.5;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.3s ease;
	&__head {
		background: $mic-color;
		width: $mic-size * 0.3;
		width: 30px;
		height: $mic-size * 0.75;
		border-radius: 30px;
		&::after {
			@extend %pseudo;
			@extend %absolute-center;
			top: 10%;
			left: 50%;
			background: $frame-bg;
			width: 8px;
			height: 20px;
			border-radius: inherit;
			transform: translate(-50%);
		}
	}
	&__neck {
		background: $mic-color;
		width: $mic-size * 0.05;
		height: $mic-size * 0.2;
	}
	&__leg {
		background: $mic-color;
		width: $mic-size * 0.3;
		height: $mic-size * 0.05;
		border-radius: 50px;
	}
}

.recording {
	@extend %absolute-center;
	width: $mic-size;
	height: $mic-size;
	margin-top: $mic-size * -0.5;
	margin-left: $mic-size * -0.5;
	transform: scale(0.5);
	opacity: 0;
	transition: all 0.3s 0s ease;
}

.round {
	position: absolute;
	$round-size: $mic-size * 0.15;
	background: white;
	width: $round-size;
	height: $round-size;
	border-radius: 50%;
	margin-top: $round-size * -0.5;
	margin-right: $round-size * -0.5;
	margin-left: $round-size * -0.5;
	animation: recording 1s ease-in-out infinite;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
	&:first-child {
		left: 50%; 
		top: 50%;
	}
	&:nth-child(2) {
		left: 25%; 
		top: 50%;
	}
	&:nth-child(2) { animation-delay: 0.15s; }
	&:last-child {
		left: 75%;
		top: 50%;
		animation-delay: 0.3s;
	}
}

.toggleLabel {
	@extend %absolute-center;
	display: inline-block;
	width: $circle-size;
	height: $circle-size;
	margin-top: $circle-size * -0.5;
	margin-left: $circle-size * -0.5;
	cursor: pointer;
}

#recordToggle:checked {
	~ svg {
		animation: spinning 3s ease-in-out infinite alternate;
		.circleSvg {
			stroke-dasharray: 300;
			stroke-dashoffset: 300;
			animation: dash 3s ease-in-out infinite alternate;
		}
	}
	
	~ .mic {
		transform: scale(1.128);
		animation: gone 0.5s 0.3s ease;
		animation-fill-mode: forwards;
	}
	
	~ .recording {
		opacity: 1;
		transform: scale(0.98);
		transition-delay: 0.3s;
	}
}


@keyframes spinning {
	to { transform: rotatez(360deg); }
}

@keyframes gone {
	to {
		transform: scale(0.5);
		opacity: 0;
	}
}

@keyframes recording {
	0% { transform: translatey(0%); }
	30% { transform: translatey(-30%); }
	60% { transform: translatey(30%); }
	90% { transform: translatey(0%); }
}

@keyframes dash {
	from { stroke-dashoffset: 300; }
	to {
		stroke-dashoffset: 0;
	}
}

.elementToFadeInAndOut {
    opacity: 1;
    animation: fade 2s linear;
}


@keyframes fade {
  0%, 30% { opacity: 0 }

}

.pg {
	position: absolute;
	color: rgb(255, 255, 255);
	top: 600px;
	left: 490px;
}

.textBox p {
    top: 30%;  
    width: 24em;
	font-size: 24px;
	font-family: 'Roboto Mono', monospace;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-410%); 
}

.animTypewriter {
	animation: typewriter 3s steps(44) 0.5s 1 normal both,
	blinkTextCursor 1000ms steps(44) infinite normal;
}

@keyframes typewriter{
	from{width: 0;}
	to{width: 100%;}
}

@keyframes blinkTextCursor{
	from{border-right-color: rgba(255,255,255,.75);}
	to{border-right-color: transparent;}
}

.stoppedBar {
	position: absolute;
	top: 535px;
	left: 650px;
	height: 15px;
	width: 600px;
	background: linear-gradient(45deg, #3af9da 25%, #7B1FA2 50%, #F06292 90%);
	border-radius: 8px;
}

.cssAnimation {
	overflow: hidden;
	padding-top: 560px;
	padding-left: 350px;
}

.cssAnimation .wrapper {
	position: relative;
	width: 500px;
	height: 300px;
	padding-top: 28%;
	padding-left: 100px;
	overflow: hidden;
}

.cssAnimation .wrapper div {
	position: absolute;
	height: 34%;
	width: 3%;
	top: 30%;
	border-radius: 8px;
}

.cssAnimation .wrapper div:nth-of-type(1) {
	animation: prop 17s 0.000s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(2) {
	animation: prop 17s -16.227s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(3) {
	animation: prop 17s -15.455s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(4) {
	animation: prop 17s -14.682s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(5) {
	animation: prop 17s -13.909s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(6) {
	animation: prop 17s -13.136s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(7) {
	animation: prop 17s -12.364s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(8) {
	animation: prop 17s -11.591s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(9) {
	animation: prop 17s 10.818s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(10) {
	animation: prop 17s -10.045s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(11) {
	animation: prop 17s -9.273s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(12) {
	animation: prop 17s -8.500s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(13) {
	animation: prop 17s -7.727s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(14) {
	animation: prop 17s -6.955s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(15) {
	animation: prop 17s -6.182s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(16) {
	animation: prop 17s -5.409s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(17) {
	animation: prop 17s -4.636s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(18) {
	animation: prop 17s -3.864s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(19) {
	animation: prop 17s -3.091s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(20) {
	animation: prop 17s -2.318s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(21) {
	animation: prop 17s -1.545s linear infinite;
}

.cssAnimation .wrapper div:nth-of-type(22) {
	animation: prop 17s -0.773s linear infinite;
}


@keyframes prop {
	0% {
		background: red;
		height: 34%;
		margin-top: -17%;
		left: 0%;
	}

	5% {
		background: #9337fe;
	}

	10% {
		height: 10%;
		margin-top: -5%;
		background: #c532fc;
	}

	15% {
		background: #f689f8;
	}

	20% {
		height: 34%;
		margin-top: -17%;
		background: #3af9da;
	}

	25% {
		background: #ff2f8d;
	}

	30% {
		height: 10%;
		margin-top: -5%;
		background: #54e678;
	}

	35% {
		background: #dc5245;
	}

	40% {
		height: 34%;
		margin-top: -17%;
		background: #3af9da;
	}

	45% {
		background: #f8b435;
	}

	50% {
		height: 10%;
		margin-top: -5%;
		background: #54e678;
	}

	55% {
		background: #e0ff3b;
	}

	60% {
		height: 34%;
		margin-top: -17%;
		background: #3af9da;
	}

	65% {
		background: #46f443;
	}

	70% {
		height: 10%;
		margin-top: -5%;
		background: #54e678;
	}

	75% {
		background: #4df3a9;
	}

	80% {
		height: 34%;
		margin-top: -17%;
		background: #3af9da;
	}

	85% {
		background: #36ebf4;
	}

	90% {
		height: 10%;
		margin-top: -5%;
		background: #3db3f3;
	}

	95% {
		background: #3c82f1;
	}

	100% {
		left: 100%;
		height: 34%;
		margin-top: -17%;
		background: #5b38ee;
	}
} 