.textBox p {
    top: 30%;  
    width: 24em;
	font-size: 24px;
	font-family: 'Roboto Mono', monospace;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-410%); 
}

.animTypewriter1sec {
	animation: typewriter 1s steps(44) 0.5s 1 normal both,
	blinkTextCursor 1000ms steps(44) infinite normal;
}

.animTypewriter3sec {
	animation: typewriter 3s steps(44) 0.5s 1 normal both,
	blinkTextCursor 1000ms steps(44) infinite normal;
}

@keyframes typewriter {
	from{width: 0;}
	to{width: 100%;}
}

@keyframes blinkTextCursor{
	from{border-right-color: rgba(255,255,255,.75);}
	to{border-right-color: transparent;}
}

@media (max-width: 1250px) {
	.textBox p {
		font-size: 150%;
		transform: translateY(-650%);
	}
}

@media (max-width: 450px) {
	.textBox p {
		font-size: 105%;
		transform: translateY(-1000%); 
	}
}

@media (max-width: 370px) {
	.textBox p {
		font-size: 95%;
	}
}

@media (max-height: 729px) {
	.textBox p {
		top: 50%;
		left: 27%;
	}
}